<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc28.needmanagement.mapper.CompanyDctMapper">

    <resultMap id="BaseResultMap" type="com.cetc28.needmanagement.entity.CompanyDct">
            <id property="COMPANY_CODE" column="COMPANY_CODE" jdbcType="VARCHAR"/>
            <result property="COMPANY_NAME" column="COMPANY_NAME" jdbcType="VARCHAR"/>
            <result property="COMPANY_CLASS" column="COMPANY_CLASS" jdbcType="OTHER"/>
            <result property="CREATE_PEOPLE" column="CREATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="CREATE_TIME" column="CREATE_TIME" jdbcType="DATE"/>
            <result property="UPDATE_PEOPLE" column="UPDATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="UPDATE_TIME" column="UPDATE_TIME" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        COMPANY_CODE,COMPANY_NAME,COMPANY_CLASS,
        CREATE_PEOPLE,CREATE_TIME,UPDATE_PEOPLE,
        UPDATE_TIME
    </sql>
</mapper>
