<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.DocumentMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.Document">
            <id property="docid" column="DOCID" jdbcType="CHAR"/>
            <result property="docname" column="DOCNAME" jdbcType="VARCHAR"/>
            <result property="doctype" column="DOCTYPE" jdbcType="VARCHAR"/>
            <result property="businesstype" column="BUSINESSTYPE" jdbcType="VARCHAR"/>
            <result property="businessid" column="BUSINESSID" jdbcType="CHAR"/>
            <result property="filepath" column="FILEPATH" jdbcType="VARCHAR"/>
            <result property="filesize" column="FILESIZE" jdbcType="DECIMAL"/>
            <result property="version" column="VERSION" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="UPDATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        DOCID,DOCNAME,DOCTYPE,
        BUSINESSTYPE,BUSINESSID,FILEPATH,
        FILESIZE,VERSION,STATUS,
        REMARK,CREATOR,CREATETIME,
        UPDATETIME
    </sql>
</mapper>
