<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.LsareaMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.Lsarea">
            <id property="id" column="ID" jdbcType="CHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="acreage" column="ACREAGE" jdbcType="NUMERIC"/>
            <result property="longitude" column="LONGITUDE" jdbcType="NUMERIC"/>
            <result property="latitude" column="LATITUDE" jdbcType="NUMERIC"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,
        ACREAGE,LONGITUDE,LATITUDE,
        REMARK,CREATETIME
    </sql>
</mapper>
