<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.LsEquipmentMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.LsEquipment">
            <id property="eqpid" column="EQPID" jdbcType="CHAR"/>
            <result property="areaid" column="AREAID" jdbcType="CHAR"/>
            <result property="facilityid" column="FACILITYID" jdbcType="CHAR"/>
            <result property="majorid" column="MAJORID" jdbcType="CHAR"/>
            <result property="eqpname" column="EQPNAME" jdbcType="VARCHAR"/>
            <result property="eqptype" column="EQPTYPE" jdbcType="VARCHAR"/>
            <result property="producer" column="PRODUCER" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="installdate" column="INSTALLDATE" jdbcType="TIMESTAMP"/>
            <result property="manufacturerdate" column="MANUFACTURERDATE" jdbcType="TIMESTAMP"/>
            <result property="servicelife" column="SERVICELIFE" jdbcType="DECIMAL"/>
            <result property="supplier" column="SUPPLIER" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        EQPID,AREAID,FACILITYID,
        MAJORID,EQPNAME,EQPTYPE,
        PRODUCER,STATUS,INSTALLDATE,
        MANUFACTURERDATE,SERVICELIFE,SUPPLIER,
        REMARK
    </sql>
</mapper>
