<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc28.needManagement.mapper.NeedSourcesDctMapper">

    <resultMap id="BaseResultMap" type="com.cetc28.needManagement.domain.NeedSourcesDct">
            <id property="needCode" column="NEED_CODE" jdbcType="VARCHAR"/>
            <result property="needName" column="NEED_NAME" jdbcType="VARCHAR"/>
            <result property="needSetp" column="NEED_SETP" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="DATE"/>
            <result property="createPeople" column="CREATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="updatePeople" column="UPDATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        NEED_CODE,NEED_NAME,NEED_SETP,
        CREATE_TIME,CREATE_PEOPLE,UPDATE_PEOPLE,
        UPDATE_TIME
    </sql>
</mapper>
