<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.NodeattrMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.Nodeattr">
            <id property="nodeattrid" column="NODEATTRID" jdbcType="CHAR"/>
            <result property="key" column="KEY_" jdbcType="VARCHAR"/>
            <result property="pnodeid" column="PNODEID" jdbcType="VARCHAR"/>
            <result property="pnodename" column="PNODENAME" jdbcType="VARCHAR"/>
            <result property="nodetype" column="NODETYPE" jdbcType="INTEGER"/>
            <result property="eqpids" column="EQPIDS" jdbcType="VARCHAR"/>
            <result property="facilityids" column="FACILITYIDS" jdbcType="VARCHAR"/>
            <result property="toolids" column="TOOLIDS" jdbcType="VARCHAR"/>
            <result property="tooleqpids" column="TOOLEQPIDS" jdbcType="VARCHAR"/>
            <result property="actiontype" column="ACTIONTYPE" jdbcType="VARCHAR"/>
            <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
            <result property="goal" column="GOAL" jdbcType="VARCHAR"/>
            <result property="modelattr" column="MODELATTR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        NODEATTRID,KEY_,PNODEID,
        PNODENAME,NODETYPE,EQPIDS,
        FACILITYIDS,TOOLIDS,TOOLEQPIDS,
        ACTIONTYPE,DESCRIPTION,GOAL,
        MODELATTR
    </sql>
</mapper>
