<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.ProductComponentMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.ProductComponent">
            <id property="componentid" column="COMPONENTID" jdbcType="CHAR"/>
            <result property="productid" column="PRODUCTID" jdbcType="CHAR"/>
            <result property="componentname" column="COMPONENTNAME" jdbcType="VARCHAR"/>
            <result property="componenttype" column="COMPONENTTYPE" jdbcType="VARCHAR"/>
            <result property="parentid" column="PARENTID" jdbcType="VARCHAR"/>
            <result property="manufacturer" column="MANUFACTURER" jdbcType="VARCHAR"/>
            <result property="producedate" column="PRODUCEDATE" jdbcType="TIMESTAMP"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        COMPONENTID,PRODUCTID,COMPONENTNAME,
        COMPONENTTYPE,PARENTID,MANUFACTURER,
        PRODUCEDATE,STATUS,REMARK
    </sql>
</mapper>
