<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.ProductComponentMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.ProductComponent">
            <id property="id" column="ID" jdbcType="CHAR"/>
            <result property="productid" column="PRODUCTID" jdbcType="CHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="type" column="TYPE" jdbcType="VARCHAR"/>
            <result property="parentid" column="PARENTID" jdbcType="VARCHAR"/>
            <result property="manufacturer" column="MANUFACTURER" jdbcType="VARCHAR"/>
            <result property="producedate" column="PRODUCEDATE" jdbcType="TIMESTAMP"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PRODUCTID,NAME,
        COMPONENTTYPE,PARENTID,MANUFACTURER,
        PRODUCEDATE,REMARK,CREATETIME
    </sql>
</mapper>
