<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc28.needmanagement.mapper.RelationCiDctMapper">

    <resultMap id="BaseResultMap" type="com.cetc28.needmanagement.entity.RelationCiDct">
            <result property="CI_CODE" column="CI_CODE" jdbcType="VARCHAR"/>
            <result property="CI_NAME" column="CI_NAME" jdbcType="VARCHAR"/>
            <result property="CREATE_PEOPLE" column="CREATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="CREATE_TIME" column="CREATE_TIME" jdbcType="DATE"/>
            <result property="UPDATE_PEOPLE" column="UPDATE_PEOPLE" jdbcType="VARCHAR"/>
            <result property="UPDATE_TIME" column="UPDATE_TIME" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        CI_CODE,CI_NAME,CREATE_PEOPLE,
        CREATE_TIME,UPDATE_PEOPLE,UPDATE_TIME
    </sql>
</mapper>
