<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TableColumnMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TableColumn">
            <result property="code" column="CODE" jdbcType="VARCHAR"/>
            <result property="key" column="KEY" jdbcType="VARCHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        CODE,KEY,NAME
    </sql>
</mapper>
