<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.Task">
            <id property="taskid" column="TASKID" jdbcType="CHAR"/>
            <result property="taskname" column="TASKNAME" jdbcType="VARCHAR"/>
            <result property="starttime" column="STARTTIME" jdbcType="TIMESTAMP"/>
            <result property="endtime" column="ENDTIME" jdbcType="TIMESTAMP"/>
            <result property="describe" column="DESCRIBE" jdbcType="VARCHAR"/>
            <result property="lsid" column="LSID" jdbcType="CHAR"/>
            <result property="productids" column="PRODUCTIDS" jdbcType="VARCHAR"/>
            <result property="creattime" column="CREATTIME" jdbcType="TIMESTAMP"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        TASKID,TASKNAME,STARTTIME,
        ENDTIME,DESCRIBE,LSID,
        PRODUCTIDS,CREATTIME,REMARK
    </sql>
</mapper>
