<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TDocumentRelMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TDocumentRel">
            <id property="relid" column="RELID" jdbcType="CHAR"/>
            <result property="docid" column="DOCID" jdbcType="CHAR"/>
            <result property="businesstype" column="BUSINESSTYPE" jdbcType="VARCHAR"/>
            <result property="businessid" column="BUSINESSID" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RELID,DOCID,BUSINESSTYPE,
        BUSINESSID
    </sql>
</mapper>
