<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TEvaluationModelMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TEvaluationModel">
            <id property="evalmodelid" column="EVALMODELID" jdbcType="CHAR"/>
            <result property="evalmodename" column="EVALMODENAME" jdbcType="VARCHAR"/>
            <result property="calcrule" column="CALCRULE" jdbcType="VARCHAR"/>
            <result property="version" column="VERSION" jdbcType="NUMERIC"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="UPDATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        EVALMODELID,EVALMODENAME,CALCRULE,
        VERSION,STATUS,REMARK,
        CREATETIME,UPDATETIME
    </sql>
</mapper>
