<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TEvaluationItemMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TEvaluationItem">
            <id property="itemid" column="ITEMID" jdbcType="CHAR"/>
            <result property="templateid" column="TEMPLATEID" jdbcType="CHAR"/>
            <result property="itemname" column="ITEMNAME" jdbcType="VARCHAR"/>
            <result property="fullscore" column="FULLSCORE" jdbcType="DECIMAL"/>
            <result property="parentid" column="PARENTID" jdbcType="CHAR"/>
            <result property="no" column="NO" jdbcType="NUMERIC"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="UPDATETIME" jdbcType="TIMESTAMP"/>
            <result property="type" column="TYPE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ITEMID,TEMPLATEID,ITEMNAME,
        FULLSCORE,PARENTID,NO,
        REMARK,CREATETIME,UPDATETIME,
        TYPE
    </sql>
</mapper>
