<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TNodeEvalResultMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TNodeEvalResult">
            <id property="resultid" column="RESULTID" jdbcType="CHAR"/>
            <result property="recordid" column="RECORDID" jdbcType="CHAR"/>
            <result property="glid" column="GLID" jdbcType="CHAR"/>
            <result property="accessibility" column="ACCESSIBILITY" jdbcType="VARCHAR"/>
            <result property="fzvalue" column="FZVALUE" jdbcType="NUMERIC"/>
            <result property="score" column="SCORE" jdbcType="NUMERIC"/>
            <result property="evalstatus" column="EVALSTATUS" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        RESULTID,RECORDID,GLID,
        ACCESSIBILITY,FZVALUE,SCORE,
        EVALSTATUS,REMARK,CREATETIME
    </sql>
</mapper>
