<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.ToolFixtureMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.ToolFixture">
            <id property="id" column="ID" jdbcType="CHAR"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="type" column="TYPE" jdbcType="VARCHAR"/>
            <result property="status" column="STATUS" jdbcType="VARCHAR"/>
            <result property="manufacturer" column="MANUFACTURER" jdbcType="VARCHAR"/>
            <result property="manufacturerdate" column="MANUFACTURERDATE" jdbcType="TIMESTAMP"/>
            <result property="servicelife" column="SERVICELIFE" jdbcType="DECIMAL"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,TYPE,
        STATUS,MANUFACTURER,MANUFACTURERDATE,
        SERVICELIFE,
        REMARK,CREATETIME
    </sql>
</mapper>
