<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.mapper.TProcessEvalResultMapper">

    <resultMap id="BaseResultMap" type="com.jc.entity.TProcessEvalResult">
            <id property="resultid" column="RESULTID" jdbcType="CHAR"/>
            <result property="recordid" column="RECORDID" jdbcType="CHAR"/>
            <result property="itemid" column="ITEMID" jdbcType="CHAR"/>
            <result property="score" column="SCORE" jdbcType="NUMERIC"/>
            <result property="evallevel" column="EVALLEVEL" jdbcType="VARCHAR"/>
            <result property="evalstatus" column="EVALSTATUS" jdbcType="VARCHAR"/>
            <result property="summary" column="SUMMARY" jdbcType="VARCHAR"/>
            <result property="suggestion" column="SUGGESTION" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        RESULTID,RECORDID,ITEMID,
        SCORE,EVALLEVEL,EVALSTATUS,
        SUMMARY,SUGGESTION,CREATETIME
    </sql>
</mapper>
